{%extends "base.html"%}
{% load static %}
<!DOCTYPE html>    
<html lang="en">    
<head>    
  <title>Circular</title>
  {% block content %}    
  <section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Club</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- club-->
  {%for clubs in club%}
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
     {%if clubs.profile_photo %}
      <img class="card-img-top rounded-0" src={{clubs.profile_photo.url}} style="width: 288px;height: 248px;" >
       {% else %}
        <img class="card-img-top rounded-0" src="{% static 'images/avatar.png'%}" style="width: 288px;height: 248px;">
      {%endif %}
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{ clubs.club_id }}</li>
      
        </ul>
        <a href="course-single.html">
          <h4 class="card-title"><a href="{% url 'club_detail' clubs.id %}"</a>{{ clubs.club_name }}</a></h4>
        </a>
        <p class="card-text mb-4">{{ clubs.incharge }} </p>
        <a href="{% url 'club_detail' clubs.id %}" class="btn btn-primary btn-sm">View More</a>
      </div>
    </div>
  </div>
  {%endfor%}
 </div>

  </div>
</div>
<hr>
{% endblock %}